---
---
// variables
$font-stack: 'Open Sans', sans-serif;
$primary-color: #fff;
$secondary-color: #93979e;
$background-color: #26282d;
$special-color: #ebcb8b;

body {
  background-color: $background-color;
  font-family: $font-stack;
  
  header.site-header {
    border-bottom: 3px dashed $secondary-color;
    div.wrapper {
      a.site-title {
        color: $special-color;
        font-weight: 600;
      }
      nav.site-nav {
        a.menu-icon {

        }
        div.trigger {
          a.page-link {
            color: $special-color;
          }
        }
      }
    }
  }
  div.page-content {
    div#resume_cv {
      min-width: 740px;
      div#headline {
        h2 {
          color: $special-color;
        }
        h4 {
          color: $primary-color;
        }
      }
      div#experience {
        padding: 20px 0;
        ul {
          padding: 0;
          margin-left: 10px;
        }
        img.logo {
          max-width: 550px;
          display: block;
        }
        .post-meta {
          display: block;
          padding-top: 20px;
          color: $primary-color;
          font-size: 1em;
        }
        ul {
          padding: 20px 0;
        }
        div#general_assembly {
          visibility: hidden;
          &.show {
            visibility: visible;
          }
        }
        div#haystack {
          visibility: hidden;
          &.show {
            visibility: visible;
          }
        }
        div#tesla_motors {
          padding-top: 20px;
          visibility: hidden;
          &.show {
            visibility: visible;
          }
          div#tesla_logo {
            
            float: left;
          }
          div#tesla_items {
            padding-top: 20px;
            vertical-align: middle;
            float: left;
            ul {
              margin-left: 20px;
            }
          }
        }
        div.clearfix {
          content: "";
          display: table;
          clear: both;
        }
      }
      div#skills_and_education {
        visibility: hidden;
        &.show {
          visibility: visible;
        }
        div#skills {
          padding-top: 20px;
          float: left;
            h2 {
              color: $special-color;
            }
            ul {
              padding: 0 10px 0 0;
              margin: 0;
            }
            div.skills_col {
              float: left;
            }
        }
        div#elon_university {
          padding: 20px 0 0 20px;
          float: left;
            h2 {
              color: $special-color;
            }
            ul {
              padding: 0;
              margin: 0;
            }
        }
      }
    }

    div.wrapper {
      div.post {
        header.post-header {
          h1.post-title {
            color: $primary-color;
            font-weight: normal;
          }
          p.post-meta {
            color: lighten( $primary-color, 10% );
            font-weight: 300;
          }
        }
        article.post-content {
          h2 {
            a {
              color: $primary-color;
            }

          }
          h3 {
            color: $primary-color;
          }
          p {
            color: $secondary-color;
            line-height: 1.75em;
            a {
              color: $special-color;
            }
            strong {
              color: $primary-color;
              font-weight: 600;
            }
          }
          h4 {
            color: $primary-color;
          }
          ul {
            list-style: none;
            li {
              color: $secondary-color;
              padding-bottom: 5px;
              a {
                color: $primary-color;
              }
            }
          }
        }
      }
      div.home {
        h1.page-heading {
          color: $primary-color;
        }
        div.col {
          float: left;
          div#gif {
            padding-left: 60px;

            img {
              display: block;
            }
            .caption {
              padding-top: 10px;
              float: right;
            }
          }
        }
        ul.post-list {
          li {
            .post-meta {
              color: lighten( $primary-color, 10%);
              font-weight: 300;
            }
            h2 {
              a.post-link {
                color: $secondary-color;
              }
            }
          }
        }
        p.rss-subscribe {
          color: $primary-color;
          a {
            color: $secondary-color;
          }
        }
      }
    }
  }
  footer.site-footer {
    border-top: 3px dashed $secondary-color;
    div.wrapper {
      h2.footer-heading {
        color: $primary-color;
      }
      div.footer-col-wrapper {
        color: $primary-color;
        a {
          color: $special-color;
        }
      }
    }
  }

}



.screenshot {
  display: block;
  margin:0 auto;
  margin: 20px 0;
  border: 3px solid lighten($secondary-color, 10%);

}

.headshot {
  width: 175px;
  height: 175px;
  border-radius: 150%;
  -webkit-border-radius: 150%;
  -moz-border-radius: 150%;
  float: right;
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .site-nav {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: #333;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: right;
}
div#gif {
  display: none;
}
}