---
---
@import "../bourbon/bourbon";
@import "../bitters/base";
@import "../neat/neat";
@import "device";
@import "browser";

$mobile: new-breakpoint(min-width 320px max-width 480px, 4);
$tablet: new-breakpoint(min-width 481px max-width 1024px, 4);
$hideIcons: new-breakpoint(min-width 481px max-width 1024px, 4);

$font-stack: 'helvetica neue', sans-serif;
$main-text: #333;
$heading-text: #2FBF71;
$border-color: $heading-text;
$highlight-color: white;
$bg-color: #F7F7F7;

$visual-grid: true;
$visual-grid-color: #E6F6FF;
// $visual-grid-opacity: 0.4;


// GLOBALS

p {
  padding: 0.25em;
  line-height: 1.8em;
  @include media($mobile) { 
    font-size: 1.25em;
  }      
}

.hide {
  visibility: hidden;
}

body {
  font-family: $font-stack;
  color: $main-text;
  background-color: $bg-color;
}

h2 {
  color: $heading-text;
}

a {
  color: $main-text;
}

nav#navigation {
  @include span-columns(12);
  margin: 0;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: $bg-color;
  padding: 10px;
  position: fixed;
  border-bottom: 3px solid $border-color;
  -webkit-box-shadow: 0 8px 16px -6px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 8px 16px -6px rgba(0,0,0,0.25);
  box-shadow: 0 8px 16px -6px rgba(0,0,0,0.25);
  ul#navLinks {
    @include span-columns(12);
    li {
      @include omega();
      @include span-columns(2);
      min-height: 40px;
      padding: 10px 0px;
      transition: 0.4s;
      font-size: 1.5em;
      text-align: center;
      @include media($mobile) {
        font-size: 0.75em;
      }
      @include media($tablet) {
        font-size: 1em;
      }
      &:hover {
        transition: 0.4s;
        background-color: $heading-text;
        color: $bg-color;
      }
      &:hover + a {
        color: $bg-color;
        // border-color: $bg-color;
      }
    }
  }
  #menu {
    display: none;
  }
}

#menuClosed {
  @include span-columns(1);
  @include shift(10);
  cursor: pointer;
  padding: 50px 0 0 0;
  i {
    font-size: 2em;
    color: $heading-text;
  }
  @include media($mobile) {
    @include outer-container;
    @include span-columns(1);
    @include shift(3);
    padding: 10px 0;
    cursor: pointer;
    i {
      font-size: 1.5em;
      color: $heading-text;
    }
  }
}

div#home {
  @include outer-container;
  padding: 2em;
  @include media($mobile) { 
    padding: 1em;
  }
  div#intro {
    h1 {
      color: $heading-text;
      font-size: 5em;
      @include media($tablet) {
        font-size: 3.2em;
      }
      @include media($mobile) {
        font-size: 2.5em;
      }
    }
  }
  div#projects {
    h2 {
      color: $heading-text;
      padding: 1em 0;
    }
    div.project {
      div.description {
       @include span-columns(6);
       @include omega();
       text-align: right;
       h4, p, button {
        @include shift(1);
        @include span-columns(4 of 6);
       }
      }
      div.showcase {
        @include span-columns(6);
      }
    }
    div#gifPlaceholders {
      text-align: left;
      p {
        text-align: left;
      }
      h4 {
        text-align: left;
      }
    }
    @include media($mobile) { 
      div.project {
        div.description {
         @include span-columns(4);
         text-align: center;
         h4, p {
          margin: 0 auto;
          width: 100%;
         }
        }
        div.showcase {
          @include span-columns(4);
          div.device {
            margin: 9em auto -5em auto;
          }
        }
      }
    }
    @include media($tablet) { 
      div.project {
        div.showcase {
          div.device {
            margin-left: 0;
            margin-top: 7.5em;
          }
        }
      }
    }
  }
}

div.blogposts {
  background-color: $main-text;
  @include span-columns(12);
  padding: 20px 0;
  div.section-heading {
    text-align: center;
    padding: 0 0 20px 0;
    h2 {
      padding: 20px 0 0 0;
      color: $highlight-color;
    }
  }
  div.posts {
    @include span-columns(9);
    @include shift(2);
    div.post {
      @include span-columns(4);
      @include omega();
      div.postDetail {
        a {
          color: $heading-text;
          font-size: 1.5em;
          &:hover {
            color: darken($heading-text, 20%);
          }
          &:active {
            color: lighten($heading-text, 20%);
          }
        }
        span {
          color: $bg-color;
          font-style: italic;
          font-size: 1em;
        }
        button {
          margin-left: 80px;
          @include media($mobile) {
            margin: 0;
          }
        }
      }
    }
  }
}

// Layouts/post CSS for Blogposts
div.blogpost {
  @include outer-container(100%);
  @include span-columns(10);
  @include shift(1);
  padding: 100px 0 20px 0;
  h1 {
    color: $heading-text;
    padding-bottom: 10px;
  }
  img {
    padding: 20px 0;
  }
  p {
    padding: 10px 20px;
  }
  span {
    font-size: 0.8em;
    padding: 5px 10px;
    background-color: $heading-text;
    color: $highlight-color;
    font-style: italic;
    font-size: 1em;
  }

}
// MEDIA QUERIES

div.blogposts {
  @include media($mobile) {
    @include outer-container(100%);
    @include span-columns(4);
    margin: 0;
    padding: 0;
  }
}

div.blogposts div.posts div.post {
  @include media($mobile) {
    @include span-columns(4);
    @include omega();
    padding: 0 0 20px 0;
    margin: 0;
    text-align: left;
    span {
      padding: 0;
      margin: 0;
    }
  }
}

nav#navigation {
  ul#navLinks{
      // font-size: 0.75em;
      @include media($mobile) {
        @include span-columns(4);
        padding-left: 10px;
        li {
          @include span-columns(2 of 4);
          font-size: 1.2em;
          @include omega();
        }
      }
      @include media($tablet) {
        @include span-columns(4);
        padding-left: 10px;
        li {
          @include span-columns(2 of 4);
          font-size: 1.2em;
          @include omega();
        }
      }
    }
    #menu {
      @include media($mobile) {
        cursor: pointer;
        position: relative;
        bottom: -35px;
        left: 45%;
        text-align: center;
        padding: 10px;
        display: inline-block;
        width: 45px;
        height: 45px;
        background-color: $heading-text;
        border-radius: 150px;
        i {
          font-size: 1.75em;
          color: $bg-color;
        }
      }
      @include media($tablet) {
        cursor: pointer;
        position: relative;
        bottom: -35px;
        left: 45%;
        text-align: center;
        padding: 10px;
        display: inline-block;
        width: 45px;
        height: 45px;
        background-color: $heading-text;
        border-radius: 150px;
        i {
          font-size: 1.75em;
          color: $bg-color;
        }
      }
    }
  }