  <a href="mailto:colin@gillingh.am" target="_blank"><li><i class="fa fa-envelope"></i> Email</li></a>
  <a href="https://www.linkedin.com/in/colingillingham" target="_blank"><li><i class="fa fa-linkedin-square"></i> LinkedIn</li></a>
  <a href="https://github.com/Gillinghammer" target="_blank"><li><i class="fa fa-github"></i> Github</li></a>
  <a href="http://www.twitter.com/gillinghammer" target="_blank"><li><i class="fa fa-twitter-square"></i> Twitter</li></a>
  <a href="http://www.gillingh.am/Gillingham_Hire_Me.pdf" target="_blank"><li><i class="fa fa-file"></i> Resume</li></a>