  <div class="pure-g outline-box">
      <div class="pure-u-6-24 pure-u-md-12-24" >
        <a href="">TIMELINE</a>
      </div>
      <div class="pure-u-3-24 pure-u-md-2-24"><a href="">XX</a></div>
      <div class="pure-u-3-24 pure-u-md-2-24"><a href="">XX</a></div>
      <div class="pure-u-3-24 pure-u-md-2-24"><a href="">XX</a></div>
      <div class="pure-u-3-24 pure-u-md-2-24"><a href="">XX</a></div>
      <div class="pure-u-3-24 pure-u-md-2-24"><a href="">XX</a></div>
      <div class="pure-u-3-24 pure-u-md-2-24"><a href="">XX</a></div>
  </div>