  <li><i class="fa fa-envelope"></i> <a href="mailto:colin@gillingh.am" target="_blank">Email</a></li>
  <li><i class="fa fa-linkedin-square"></i> <a href="https://www.linkedin.com/in/colingillingham" target="_blank">LinkedIn</a></li>
  <li><i class="fa fa-github"></i> <a href="https://github.com/Gillinghammer" target="_blank">Github</a></li>
  <li><i class="fa fa-twitter-square"></i> <a href="http://www.twitter.com/gillinghammer" target="_blank">Twitter</a></li>
  <li><i class="fa fa-file"></i> <a href="http://www.gillingh.am/Gillingham_Hire_Me.pdf" target="_blank">Resume</a></li>