<div class="pure-g center-me">
<div class="pure-u-1">
  <div id="about" class="center-me">
    <div id="avatar" class="center-me">
      <img src="https://s.gravatar.com/avatar/a507dde876666306fe96224708a2b0f1?s=320" class="pure-img circle-img">
    </div>
    <h1>Colin Gillingham</h1>
    <p class="intro">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
    </p>
    <div class="links">
      <a href="">Timeline</a> | <a href="">Referrals</a> | <a href=""> Photos</a>
    </div>
  </div>
</div>
</div>