<div class="pure-g center-me">
  <div class="pure-u-1">
    <div id="profile" class="center-me">
      <div id="avatar" class="center-me">
        <a href="/"><img src="https://s.gravatar.com/avatar/a507dde876666306fe96224708a2b0f1?s=320" class="pure-img circle-img avatar"></a>
      </div>
      <h1>Colin Gillingham</h1>
      <p>
        My first five years in Silicon&nbsp;Valley were with Tesla&nbsp;Motors- Everything, from managing the CRM and email programs to delivering early&nbsp;cars.
      </p>
      <p>
        Traveling again <i class="fa fa-plane"></i><br>
        Working on a new project as I travel around Europe and beyond!
      </p>
      <div class="links">
        <a class="links" href="" data-name="referrals">Referral Codes</a> | <a class="links" href="" data-name="photos">Photos</a>
        <ul class="iconlinks">
          <li>
            <a href="mailto:colin@gillingh.am" target="_blank"><i class="fa fa-envelope"></i> Email Me</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/colingillingham" target="_blank"><i class="fa fa-linkedin-square"></i> Network With Me</a>
          </li>
          <li>
            <a href="https://twitter.com/gillinghammer" target="_blank"><i class="fa fa-twitter-square"></i> Follow Me</a>
          </li>
        </ul>
      </div>
      <div class="theend">
        <p><em>This site was built with lots of  <i class="fa fa-coffee"></i></em></p>
      </div>
    </div>
  </div>
</div>