<div class="pure-g center-me">
  <div class="pure-u-1">
    <div id="profile" class="center-me">
      <div id="avatar" class="center-me">
        <a href="/"><img src="https://s.gravatar.com/avatar/a507dde876666306fe96224708a2b0f1?s=320" class="pure-img circle-img avatar"></a>
      </div>
      <h1>Colin Gillingham</h1>
      <div class="background">
        <p>Previously:<br> Early sales and marketing at Tesla</p>
        <p>Recently:<br> Full-stack developer at ProLeads.io</p>
        <p>Currently:<br> Traveling again <i class="fa fa-plane"></i><br>Prototyping a new app, getting feedback.</p>
        <p>Skills:<br> SalesForce (CRM), Email Marketing, Ruby, Rails, Javascript, Angular, NodeJs, ReactJS, Startups</p>
      </div>
      <div class="site_links">
        <div class="menu" data-menu="closed">
          <i class="fa fa-chevron-down"></i>
        </div>
        <ul class="pages-mobile">
          <li><a class="links" href="" data-name="updates"><i class="fa fa-rss"></i> Recent Updates </a> </li>
          <li><a class="links" href="" data-name="photos"><i class="fa fa-camera-retro"></i> Instagram Stream</a> </li>
          <li><a class="links" href="" data-name="referrals"><i class="fa fa-heart"></i> Apps </a></li>
        </ul>
        <ul class="extra-mobile">
          <li><a href="mailto:colin@gillingh.am" target="_blank"><i class="fa fa-envelope"></i> Email Me</a></li>
          <li><a href="https://www.linkedin.com/in/colingillingham" target="_blank"><i class="fa fa-linkedin-square"></i> Network <span>With Me</span></a></li>
          <li><a href="https://twitter.com/gillinghammer" target="_blank"><i class="fa fa-twitter-square"></i> Follow Me</a></li>
        </ul>
        <ul class="pages">
          <li><a class="links" href="" data-name="updates"><i class="fa fa-rss"></i> <span>Recent Updates</span> </a> </li>
          <li><a class="links" href="" data-name="photos"><i class="fa fa-camera-retro"></i> <span>Instagram Stream</span> </a> </li>
          <li><a class="links" href="" data-name="referrals"><i class="fa fa-heart"></i> <span>Apps</span> </a></li>
        </ul>
        <ul class="extra">
          <li><a href="mailto:colin@gillingh.am" target="_blank"><i class="fa fa-envelope"></i> Email Me</a></li>
          <li><a href="https://www.linkedin.com/in/colingillingham" target="_blank"><i class="fa fa-linkedin-square"></i> Network <span>With Me</span></a></li>
          <li><a href="https://twitter.com/gillinghammer" target="_blank"><i class="fa fa-twitter-square"></i> Follow Me</a></li>
        </ul>
      </div>
      <div class="theend">
        <!-- <p><em>This site took 8 cups of <i class="fa fa-coffee"></i> to build.</em></p> -->
      </div>
    </div>
  </div>
</div>