<div class="pure-u-1">
  <h1>Favorite Apps</h1>
  <p>I <i class="fa fa-heart"></i> these apps, they're essential for my lifestyle.</p>
  <p>
    By signing up with the codes below, we'll both receive free credit!
  </p>
</div>
<div class="pure-u-lg-8-24 pure-u-md-12-24 pure-u-1 referral">
  <img src="https://aubreydosmann.files.wordpress.com/2015/01/airbnbi-icon-ipavhlit.png" class="pure-img icon circle-img center-me">
  <p class="title animated">Stay like a local! Sign up for <strong>Airbnb</strong> and we'll both get <span><strong>$25</strong></span>.</p>
  <p class="code hidden animated" data-code="http://www.airbnb.com/c/cgillingham?s=8">code: <a href="http://www.airbnb.com/c/cgillingham?s=8" target="_blank"><strong>cgillingham</strong></a></p>
</div>
<div class="pure-u-lg-8-24 pure-u-md-12-24 pure-u-1 referral uber">
  <img src="http://cdn.marketplaceimages.windowsphone.com/v8/images/ac8bcc0d-4f59-4262-ac22-8b18ae4bd69f?imageType=ws_icon_large" class="pure-img icon circle-img center-me">
  <p class="title animated">Travel in style! Sign up for your first ride with <strong>Uber</strong> and get <span><strong>$20</strong></span>.</p>
  <p class="code hidden animated" data-code="https://www.uber.com/invite/uber-hammer">code: <a href="https://www.uber.com/invite/uber-hammer" target="_blank"><strong>uber-hammer</strong></a></p>
</div>
<div class="pure-u-lg-8-24 pure-u-md-12-24 pure-u-1 referral lyft">
  <img src="http://a5.mzstatic.com/us/r30/Purple5/v4/f7/dc/c1/f7dcc181-5b47-0550-6a3f-65a022322cab/icon175x175.png" class="pure-img icon circle-img center-me">
  <p class="title animated" >Prefer <strong>Lyft's</strong> Yin to Uber's Yang? <span><strong>$20</strong></span> credit towards your next ride.</p>
  <p class="code hidden animated" data-code="http://www.lyft.com/i/COLIN80">code: <a href="http://www.lyft.com/i/COLIN80" target="_blank"><strong>COLIN80</strong></a></p>
</div>
<div class="pure-u-lg-8-24 pure-u-md-12-24 pure-u-1 referral dropbox">
  <img src="http://icons.iconarchive.com/icons/danleech/simple/1024/dropbox-icon.png" class="pure-img icon circle-img center-me">
  <p class="title animated"><strong>Dropbox</strong>, secure cloud-storage. Score <span><strong>500 mb</strong></span> of free space!</p>
  <p class="code hidden animated" data-code="https://db.tt/H5nnLFvY">code: <a href="https://db.tt/H5nnLFvY" target="_blank"><strong>H5nnLFvY</strong></a></p>
</div>
<div class="pure-u-lg-8-24 pure-u-md-12-24 pure-u-1 referral wealthfront">
  <img src="http://a1.mzstatic.com/us/r30/Purple1/v4/85/53/72/8553720e-bbf0-76f9-1f2c-090386b1e127/icon350x350.png" class="pure-img icon circle-img center-me">
  <p class="title animated">Investment-Automation.<br><span><strong>$5K</strong></span> managed free at <strong>WealthFront</strong>.</p>
  <p class="code hidden animated" data-code="http://wlth.fr/1jzZPmq">code: <a href="http://wlth.fr/1jzZPmq" target="_blank"><strong>1jzZPmq</strong></a></p>
</div>
<div class="pure-u-lg-8-24 pure-u-md-12-24 pure-u-1 referral hoteltonight">
  <img src="https://pbs.twimg.com/profile_images/601430852535390208/UGA7yEuE.jpg" class="pure-img icon circle-img center-me">
  <p class="title animated">Short-notice hotel deals.<br><span><strong>$25</strong></span> towards your first booking at <strong>HotelTonight</strong>.</p>
  <p class="code hidden animated" data-code="CGILLINGHAM">code: <a href="https://itunes.apple.com/us/app/hotel-tonight-last-minute/id407690035?mt=8" target="_blank"><strong>CGILLINGHAM</strong></a></p>
</div>
